body {
  padding-top: 70px
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 150px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.caption-header {
	color: #428BCA;
	font-size:125%;
}

.caption-money {
	color: #d17581;
	font-size:120%;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.flower-action {
 	text-align: right;
}

.logout {
 	text-align: right;
}

.image-preview {
	width: 400px;
  	height: 150px;
}

.list-group-item-custom{
	padding: 5px 15px;
	color: #880000;
}
.panel-heading-custom {
	color: #31708f;
	font-size:125%;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.pagination-custom {
 	text-align: right;
}

.nav-custom {
	color: #31708f !important;
	background-color: #d9edf7 !important;
	border-color: #bce8f1 !important;
}

.navbar-custom {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.navbar-custom .navbar-brand {
  color: #31708f;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #800;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #31708f;
}
.navbar-custom .navbar-nav > li > a {
  color: #31708f;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #800;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #333;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #333;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #101010;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #999;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #999;
}
.navbar-custom .navbar-link:hover {
  color: #fff;
}